body {
    text-align: center;
}

.warning p {
    color:red;
    font-size: 2em;
    font-weight: 700;
}

h1{
    color: rgb(65, 180, 210);
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 800px) {
    .warning {
        visibility: visible;
    }
    canvas, iframe {
        visibility: hidden;
    }
}

@media (min-width: 801px) {
    canvas, iframe {
        visibility: visible;
    }
    .warning {
        visibility: hidden;
    }
}